<h3>Settings</h3>
<md-card>
  <md-card-content>
    <h3>General</h3>

    <div fxLayout="row" fxLayout.xs="column">
      <md-input-container fxFlex>
        <input mdInput placeholder="ID" disabled [(ngModel)]="generalModel.Id">
      </md-input-container>
      <md-input-container fxFlex>
        <input mdInput placeholder="Name" [(ngModel)]="generalModel.Name">
      </md-input-container>
    </div>

    <!-- environment -->
    <div fxLayout="row" fxLayout.xs="column" *ngFor="let item of generalModel.Env">
      <md-input-container fxFlex>
        <input mdInput placeholder="KEY" [(ngModel)]="item.Key">
      </md-input-container>

      <div fxFlex>
        <md-input-container style="width: 80%;">
          <input mdInput placeholder="VALUE" [(ngModel)]="item.Value">
        </md-input-container>

        <button md-icon-button title="Close" (click)="dialogRef.close()" *ngIf="!item.end">
          <md-icon>clear</md-icon>
        </button>

        <button md-icon-button title="Close" (click)="dialogRef.close()" *ngIf="item.end">
          <md-icon>add</md-icon>
        </button>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <button md-raised-button title="Save" (click)="dialogRef.close()">Save</button>
    </div>

  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h3>Ports</h3>
    <md-input-container>
      <input mdInput placeholder="First name">
    </md-input-container>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h3>Volumes</h3>
    <md-input-container>
      <input mdInput placeholder="First name">
    </md-input-container>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h3>Advanced</h3>
    <md-input-container>
      <input mdInput placeholder="First name">
    </md-input-container>
  </md-card-content>
</md-card>

<div fxLayout="row" fxLayoutAlign="center center">
  <button md-icon-button title="Close" (click)="dialogRef.close()">
    <md-icon>clear</md-icon>
  </button>
  <button md-icon-button title="Save" (click)="dialogRef.close()">
    <md-icon>save</md-icon>
  </button>
</div>