.images-list {
    padding: 5px;
}

.images-list > div {
    padding: 5px;
}

span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

:host {
    height: 100%;
    overflow: hidden;
}