.images-list {
    overflow-y: auto;
    height: 100%;
    padding: 5px;
}

.images-list > div {
    padding: 5px;
}

span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}