/* fixed top toolbar */

md-toolbar {
  position: fixed;
  z-index: 2;
}


/* content padding top */

.app-content-padding {
  padding-top: 64px;
}

@media (max-width:600px) and (orientation:portrait) {
  .app-content-padding {
    padding-top: 56px
  }
}

@media (max-width:960px) and (orientation:landscape) {
  .app-content-padding {
    padding-top: 48px
  }
}

