<!--sidenav content -->
<md-toolbar color='primary' class="mat-elevation-z6">
  <md-icon svgIcon="docker-logo" style="height: 40px; width: 40px;">docker-logo</md-icon>
  <span style="flex: 1 1 auto;"></span>
  <button md-icon-button title="Containers">
    <md-icon style="color: lawngreen">grain</md-icon>
  </button>
  <button md-icon-button title="Images">
    <md-icon style="color: dodgerblue">view_comfy</md-icon>
  </button>
</md-toolbar>

<!-- Routed views go here -->
<router-outlet></router-outlet>
