.containers-list {
    padding: 5px;
}

.containers-list > div {
    padding: 5px;
}

.containers-list span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.containers-list-item-running {
    background-color: green;
    border-radius: 10px;
    color: white;
    padding: 0 5px 0 5px;
}

:host {
    height: 100%;
    overflow-y: auto;
}
