<div fxLayoutWrap class="containers-list">
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="33.3333" fxFlex.gt-lg="25" *ngFor="let item of containers; let i = index">
    <md-card [ngClass]="{'containers-list-item-stopped': item.State != 'running', 'containers-list-item-running': item.State == 'running', 'containers-list-item-waiting': item.State == 'waiting'}">
      <md-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span *ngFor="let name of item.Names">{{name.slice(1)}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <label>Image: </label><span>{{item.Image}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <label>Ports: </label>
          <span *ngFor="let port of item.Ports">{{port.PublicPort}}:{{port.PrivatePort}}->{{port.Type}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <label>Network: </label><span>{{item.HostConfig.NetworkMode}}</span>
        </div>
      </md-card-subtitle>

      <md-card-actions fxLayout="row" fxLayoutAlign="center end">
        <button md-icon-button title="Start" *ngIf="item.State != 'running'" (click)="start(item.Id, i)">
          <md-icon>play_arrow</md-icon>
        </button>
        <button md-icon-button title="Stop" *ngIf="item.State == 'running'" (click)="stop(item.Id, i)">
        <md-icon>pause</md-icon>
      </button>
        <button md-icon-button title="Restart" *ngIf="item.State == 'running'" (click)="restart(item.Id, i)">
        <md-icon>replay</md-icon>
      </button>
        <button md-icon-button title="Exec" *ngIf="item.State == 'running'">
        <md-icon>code</md-icon>
      </button>
        <button md-icon-button title="Remove" (click)="remove(item.Id, i)">
        <md-icon>delete_forever</md-icon>
      </button>
      </md-card-actions>
    </md-card>

    <layer *ngIf="item.State == 'waiting'" [height]="160"></layer>
  </div>
</div>

<button title="Refresh" style="position: fixed; z-index: 2; right: 5px; bottom: 20px;" md-fab (click)="refresh()">
  <md-icon>refresh</md-icon>
</button>