.containers-list {
    overflow-y: auto;
    height: 100%;
    padding: 5px;
    white-space: nowrap;
}

.containers-list > div {
    padding: 5px;
}

md-card-content span {
    color: #f2f2f2;
}

.containers-list-item-stopped {
    background-color: #3498db
}

.containers-list-item-running {
    background-color: green;
}

md-card-actions {
    color: white;
}
