.containers-list {
    padding: 5px;
}

.containers-list > div {
    padding: 5px;
}

.containers-list span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    width: 190px;
}

.containers-list-item-stopped {
    background-color: #3498db
}

.containers-list-item-running {
    background-color: green;
}

.containers-list-item-waiting {
    background: yellow;
}

md-card-actions md-icon {
    color: white;
}

:host {
    height: 100%;
    overflow-y: auto;
}
